/* Search Form */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: white;
}

#search-form {
  border: 1px solid red;
  //width: 700px;
  position: relative;
  width: 40%;
}

#header {
  height: 80px;
  background: red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

#header h1 {
  color: #fff;
  margin-left: 20px;
  font-size: 1.3em;
}

.flight {
  padding: 20px;
}

.flight input,
select {
  color: #6b6a6a;
}

.info-box {
  padding: 10px 0;
  margin-top: 20px;
  flex: 1;
  border-right: 20px solid transparent;
}

.info-box:last-child {
  border-right: none;
}

.capital {
  text-transform: capitalize;
}

.red-border {
  border: red 1px solid !important;
}

.disabled {
  opacity: 0.75;
}

.errorMessage {
  color: red;
  font-size: 12px;
}

.error {
  color: red;
  font-size: 12px;
  display: none;
}

.info-box label {
  display: block;
  color: #6b6a6a;
  font-size: 0.9em;
}

.info-box input[type="text"],
input[type="submit"],
input[type="month"],
input[type="tel"],
input[type="reset"],
input[type="email"],
select {
  border: none;
  outline: none;
  background: #e2e0e0;
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  height: 30px;
  border-radius: 3px;
}

#flight-type {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px dotted silver;
  width: 100%;
}

#flight-type .info-box {
  flex: 0 1 25%;
  display: flex;
  align-items: center;
  width: 100%;
}

#flight-depart {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted silver;
}

#flight-depart .info-box {
  position: relative;
  width: 100%;
}

#depart-res,
#arrive-res {
  position: absolute;
  background: #ffffff;
  width: 100%;
}

#depart-res p,
#arrive-res p {
  padding: 7px 2px;
  border-bottom: 1px dotted silver;
  width: 100%;
}

#depart-res p:hover,
#arrive-res p:hover {
  background: #ededed;
  cursor: pointer;
  width: 100%;
}

#flight-dates {
  display: flex;
  border-bottom: 1px dotted silver;
  width: 100%;
}

#flight-info {
  display: flex;
  border-bottom: 1px dotted silver;
  width: 100%;
}

#flight-search .info-box {
  display: flex;
  justify-content: center;
  width: 100%;
}

#flight-search input[type="submit"] {
  background: #55af3a;
  color: white;
  padding: 0;
  height: 50px;
  font-size: 1.2em;
  width: 100%;
}

#flight-search2 input[type="reset"] {
  background: red;
  color: white;
  padding: 0;
  height: 50px;
  font-size: 1.2em;
  width: 100%;
}

/* Calender */
#calender {
  border: 3px solid red;
  padding: 5px;
  opacity: 0;
  background: #ffffff;
  position: absolute;
  transition: opacity 0.3s;
  pointer-events: none;
}

#calender .nav {
  padding: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

#calender .nav button {
  background: #ff3240;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 5px 8px;
  font-weight: 600;
  border-radius: 3px;
}

table {
  border: 1px solid #dbdbdb;
  background: #f4f4f4;
  width: 100%;
}

table td {
  border: 1px solid #dbdbdb;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.normal {
  color: rgba(0, 0, 0, 0.8);
}

.today {
  background: #ff3240;
  color: #ffffff;
}

.closed {
  color: #dbdbdb;
  cursor: default;
}

.picked {
  background: green;
}

#month {
  display: inline-block;
}

#confirm {
  width: 500px;
  padding: 20px;
  border: 5px solid #55af3a;
  margin: 20px auto;
  opacity: 0;
}

#confirm h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

#confirm p {
  padding: 10px;
}

#confirm strong {
  font-weight: 600;
}

.expiration {
  border: 1px solid #bbb;
  background: #ededed;
}

.expiration input {
  border: 0;
  text-align: center;
  outline: 0; /* remove if you want input highlight */
}
